{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Our site will be launched soon</title>		
	<link rel="stylesheet" href="{% static 'countdown/style.css' %}" type="text/css" charset="utf-8" />
	<link rel="stylesheet" href="{% static 'countdown/ie.css' %}" type="text/css" charset="utf-8" />
	<script language="Javascript" type="text/javascript" src="{% static 'countdown/jquery-1.4.4.js' %}"></script>
	<script language="Javascript" type="text/javascript" src="{% static 'countdown/jquery.lwtCountdown-1.0.js' %}"></script>
	<script language="Javascript" type="text/javascript" src="{% static 'countdown/misc.js' %}"></script>
 
</head>
<body>
	<div id="wrapper">
		<div id="logo">
		</div> <!-- end of logo -->
		
		<div id="main">
			<div id="countdown">
				
					<div class="dash weeks_dash">
						<span class="dash_title">weeks</span>
						<div class="digit">0</div>
						<div class="digit">0</div>
					</div>

					<div class="dash days_dash">
						<span class="dash_title">days</span>
						<div class="digit">0</div>
						<div class="digit">0</div>
					</div>

					<div class="dash hours_dash">
						<span class="dash_title">hours</span>
						<div class="digit">0</div>
						<div class="digit">0</div>
					</div>

					<div class="dash minutes_dash">
						<span class="dash_title">minutes</span>
						<div class="digit">0</div>
						<div class="digit">0</div>
					</div>

					<div class="dash seconds_dash">
						<span class="dash_title">seconds</span>
						<div class="digit">0</div>
						<div class="digit">0</div>
					</div>

				
					
			</div> <!-- end of countdown -->
			
			<div id="bottom">
				
				<div id="social"> <!-- start of social icons list --> 
					<ul>					
						<li><a target="_blank" href="http://bitbucket.org/deamoon/incf_cloud"><img src="{% static 'countdown/images/github.png' %}" alt="GitHub repo" width="23" height="23" /></a></li>
						<li><a href="mailto:dima-iv@mail.ru"><img src="{% static 'countdown/images/mail.jpg' %}" alt="Contact via mail" /></a></li>
					</ul>
				</div> <!-- end of social icons list --> 
							
			</div> <!-- end of bottom div -->
			

		</div> <!-- end of main -->
		<!-- start of the javascript code that handles the countdown -->
		<script language="javascript" type="text/javascript">
			jQuery(document).ready(function() {
				$('#countdown').countDown({
					targetDate: {
						'day': 		24, // End of GSOC, Ivanovskii Dmitrii
						'month': 	8,
						'year': 	2015,
						'hour': 	12,
						'min': 		0,
						'sec': 		0
					}
				});
							
				$('#email_field').focus(email_focus).blur(email_blur);
				$('#subscribe_form').bind('submit', function() { return false; });
				
			});
		</script>
		<!-- end of the javascript code that handles the countdown -->
			<div id="twitstat"> <!-- start of twitter feed -->				
				<ul>A comprehensive Python-R online tools suite, Google Summer Of Code, Ivanovskii Dmitrii</ul>
			</div> <!-- end of twitter feed -->
		
	</div> <!-- end of wrapper -->
	
</body>
</html>