{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'mainpage/ico/favicon.ico' %}">

    <title>QuantForces: show your force</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'mainpage/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="{% static 'mainpage/css/main.css' %}" rel="stylesheet">
    
    <link href="{% static 'mainpage/css/font.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'mainpage/css/font2.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'mainpage/js/jquery.min.js' %}"></script>
    <script src="{% static 'mainpage/js/smoothscroll.js' %}"></script>

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><b>QuantForces</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#home" class="smothscroll">Home</a></li>
	            <li class=""><a href="#desc" class="smothscroll">Description</a></li>
	            <li><a href="#showcase" class="smothScroll">Showcase</a></li>
	            <li><a href="#contact" class="smothScroll">Contact</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <button type="button" class="btn btn-success navbar-btn">
                  Join now
      			</button>
      			 <button type="button" class="btn btn-primary navbar-btn">
                  Log in
      			</button>
	          </ul>
	        </div>
	        <!--/.nav-collapse -->
	      </div>
	    </div>


	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Welcome To <b>QuantForces</b></h1>
					<h3>Show your force</h3>
					<br>
	    		</div>		
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Overview</h1>
				<br>
				<br>
				<div class="col-lg-4">			
					<img src="{% static 'mainpage/img/intro01.png' %}" alt="">
					<h3>Community</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="col-lg-4">

					<img src="{% static 'mainpage/img/intro02.png' %}" alt="">
					<h3>Your ideas</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="col-lg-4">
					<img src="{% static 'mainpage/img/intro03.png' %}" alt="">
					<h3>Trade</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
			<br>
			<hr>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->
	
	<!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">What's special?</h1>
				<br>
				<br>
				<div class="col-lg-6 centered">
					<img class="centered" src="{% static 'mainpage/img/feautures.png' %}" alt="">
				</div>
				
				<div class="col-lg-6">
					<h3>Some Features</h3>
					<br>
				<!-- ACCORDION -->
		            <div class="accordion ac" id="accordion2">
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		                        Trade Sunbox
		                        </a>
		                    </div><!-- /accordion-heading -->
		                    <div id="collapseOne" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		                        Algorithm achivements
		                        </a>
		                    </div>
		                    <div id="collapseTwo" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
		                 <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		                        Real data
		                        </a>
		                    </div>
		                    <div id="collapseThree" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		                
		                 <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
		                        Sale your ideas
		                        </a>
		                    </div>
		                    <div id="collapseFour" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>			
					</div><!-- Accordion -->
				</div>
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->
	
	
	<section id="showcase" name="showcase"></section>
	<div id="showcase">
		<div class="container">
			<div class="row">
				<h1 class="centered">Example</h1>
				<br>
				<div class="col-sm-12">
<div class="demo-panel-black" style="padding: 25px; box-shadow: 0px 30px 70px -10px rgba(0,0,0,.2);">
<div class="chart-reset" id="chartdiv-0" style="height: 435px;"><div style="position: relative;"><div style="float: left; width: 180px; position: absolute;"><div class="amChartsDataSetSelector" style="color: rgb(231, 231, 231);">Select:<br><select style="width: 180px; border: 1px solid rgba(255, 255, 255, 0.14902); outline: none;"><option value="0">first data set</option><option value="1">second data set</option><option value="2">third data set</option><option value="3">fourth data set</option></select><br><br>Compare to:<br><div class="amChartsCompareList" style="border: 1px solid rgba(255, 255, 255, 0.14902); color: rgb(231, 231, 231); line-height: 100%; overflow-y: auto; overflow-x: hidden; width: 178px; max-height: 150px;"><div style="padding: 4px; position: relative; height: 14px;"><div style="width: 14px; height: 14px; position: absolute; background-color: rgb(232, 214, 133);"></div><div style="width: 100%; position: absolute; left: 24px; white-space: nowrap; cursor: default;">second data set</div></div><div style="padding: 4px; position: relative; height: 14px;"><div style="width: 14px; height: 14px; position: absolute; background-color: rgb(174, 133, 201);"></div><div style="width: 100%; position: absolute; left: 24px; white-space: nowrap; cursor: default;">third data set</div></div><div style="padding: 4px; position: relative; height: 14px;"><div style="width: 14px; height: 14px; position: absolute; background-color: rgb(201, 240, 225);"></div><div style="width: 100%; position: absolute; left: 24px; white-space: nowrap; cursor: default;">fourth data set</div></div></div><br><br></div><div class="amChartsPeriodSelector" style="color: rgb(231, 231, 231);"><div>From: <br><input class="amChartsInputField" style="background-color: transparent; border: 1px solid rgba(255, 255, 255, 0.14902); color: rgb(231, 231, 231); outline: none; text-align: center; width: 174px; background-position: initial initial; background-repeat: initial initial;"><br>to: <br><input class="amChartsInputField" style="background-color: transparent; border: 1px solid rgba(255, 255, 255, 0.14902); color: rgb(231, 231, 231); outline: none; text-align: center; width: 174px; background-position: initial initial; background-repeat: initial initial;"><br></div><div><br>Zoom: <input type="button" value="1 month" class="amChartsButtonSelected" style="background-color: rgba(255, 255, 255, 0.0980392); border: 1px solid rgba(255, 255, 255, 0.298039); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; box-sizing: border-box; color: rgb(231, 231, 231); margin: 1px; opacity: 1; outline: none; width: 179px; display: inline; background-position: initial initial; background-repeat: initial initial;"><input type="button" value="1 year" class="amChartsButton" style="background-color: transparent; border: 1px solid rgba(255, 255, 255, 0.14902); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; box-sizing: border-box; color: rgb(231, 231, 231); margin: 1px; opacity: 0.7; outline: none; width: 179px; display: inline; background-position: initial initial; background-repeat: initial initial;"><input type="button" value="YTD" class="amChartsButton" style="background-color: transparent; border: 1px solid rgba(255, 255, 255, 0.14902); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; box-sizing: border-box; color: rgb(231, 231, 231); margin: 1px; opacity: 0.7; outline: none; width: 179px; display: inline; background-position: initial initial; background-repeat: initial initial;"><input type="button" value="MAX" class="amChartsButton" style="background-color: transparent; border: 1px solid rgba(255, 255, 255, 0.14902); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; box-sizing: border-box; color: rgb(231, 231, 231); margin: 1px; opacity: 0.7; outline: none; width: 179px; display: inline; background-position: initial initial; background-repeat: initial initial;"></div></div></div><div style="padding-left: 196px;"><div style="height: 395px;"><div class="amChartsPanel" style="height: 271px; width: 100%; overflow: hidden; text-align: left;"><div style="position: relative;"><div class="amChartsLegend" style="overflow: hidden; position: relative; text-align: left; width: 894px; height: 26px; cursor: default;"><svg version="1.1" style="position: absolute; width: 894px; height: 271px;"><desc>JavaScript chart by amCharts 3.10.0C</desc><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" font-weight="bold" text-anchor="start" transform="translate(0,11)"><tspan y="7" x="0">Value</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" font-weight="bold" text-anchor="start" transform="translate(0,11)"><tspan y="7" x="0">Value</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" font-weight="bold" text-anchor="start" transform="translate(0,11)"><tspan y="7" x="0">Value</tspan></text><g transform="translate(49,0)"><path cs="100,100" d="M0.5,0.5 L844.5,0.5 L844.5,25.5 L0.5,25.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"></path><g transform="translate(0,4)"><g cursor="pointer" transform="translate(0,0)"><path cs="100,100" d="M-7.5,8.5 L8.5,8.5 L8.5,-7.5 L-7.5,-7.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="0.9" stroke-width="1" stroke-opacity="1" transform="translate(8,8)"></path><g transform="translate(8,8)" visibility="hidden"><path cs="100,100" d="M-5.5,-5.5 L6.5,6.5" fill="none" stroke="#FFFFFF" stroke-width="3"></path><path cs="100,100" d="M-5.5,6.5 L6.5,-5.5" fill="none" stroke="#FFFFFF" stroke-width="3"></path></g><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(21,7)"><tspan y="7" x="0">first data set</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(116,7)">667</text><rect x="16" y="0" width="149.5" height="20" rx="0" ry="0" stroke-width="0" stroke="none" fill="#ffffff" fill-opacity="0.005"></rect></g></g></g></svg></div><div style="overflow: hidden; position: relative; text-align: left; width: 894px; height: 245px; cursor: default;"><svg version="1.1" style="position: absolute; width: 894px; height: 245px;"><desc>JavaScript chart by amCharts 3.10.0C</desc><g><path cs="100,100" d="M0.5,0.5 L893.5,0.5 L893.5,244.5 L0.5,244.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"></path><path cs="100,100" d="M0.5,0.5 L893.5,0.5 L893.5,244.5 L0.5,244.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" transform="translate(0,0)"></path></g><g><g transform="translate(0,0)"><g><path cs="100,100" d="M30.5,244.5 L30.5,244.5 L30.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M119.5,244.5 L119.5,244.5 L119.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M208.5,244.5 L208.5,244.5 L208.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M298.5,244.5 L298.5,244.5 L298.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M387.5,244.5 L387.5,244.5 L387.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M476.5,244.5 L476.5,244.5 L476.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M566.5,244.5 L566.5,244.5 L566.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M655.5,244.5 L655.5,244.5 L655.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M744.5,244.5 L744.5,244.5 L744.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M833.5,244.5 L833.5,244.5 L833.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g></g><g transform="translate(0,0)" visibility="visible"><g><path cs="100,100" d="M0.5,244.5 L0.5,244.5 L893.5,244.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,195.5 L0.5,195.5 L893.5,195.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,146.5 L0.5,146.5 L893.5,146.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,98.5 L0.5,98.5 L893.5,98.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,49.5 L0.5,49.5 L893.5,49.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,0.5 L0.5,0.5 L893.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g></g></g><g transform="translate(0,0)"><rect x="0.5" y="0.5" width="30" height="244" rx="0" ry="0" stroke-width="0" fill="#FFFFFF" stroke="#FFFFFF" fill-opacity="0.1" stroke-opacity="0.1" visibility="hidden" transform="translate(0,0)"></rect></g><g></g><g></g><g></g><g><g transform="translate(0,0)"><g></g><g></g><g clip-path="url(#AmChartsEl-16)"><path cs="100,100" d="M-44.5,125.5 L-14.5,238.5 L15.5,103.5 L45.5,35.5 L74.5,90.5 L104.5,11.5 L134.5,157.5 L164.5,111.5 L193.5,74.5 L223.5,35.5 L253.5,79.5 L283.5,116.5 L313.5,97.5 L342.5,110.5 L372.5,196.5 L402.5,207.5 L432.5,213.5 L461.5,175.5 L491.5,228.5 L521.5,227.5 L551.5,153.5 L580.5,233.5 L610.5,224.5 L640.5,61.5 L670.5,69.5 L700.5,239.5 L729.5,52.5 L759.5,118.5 L789.5,176.5 L819.5,12.5 L848.5,203.5 L878.5,211.5 M0,0 L0,0" fill="none" stroke-width="1" stroke-opacity="0.9" stroke="#639dbd"></path></g><clipPath id="AmChartsEl-16"><rect x="0" y="0" width="895" height="246" rx="0" ry="0" stroke-width="0"></rect></clipPath></g></g><g clip-path="url(#AmChartsEl-14)"></g><g><g transform="translate(0,0)"></g><g transform="translate(0,0)" visibility="visible"><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(4,235)"><tspan y="7" x="0">600</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(4,186)"><tspan y="7" x="0">700</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(4,137)"><tspan y="7" x="0">800</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(4,89)"><tspan y="7" x="0">900</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(4,40)"><tspan y="7" x="0">1,000</tspan></text></g></g><g><path cs="100,100" d="M0.5,0.5 L893.5,0.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#FFFFFF" transform="translate(0,244)"></path><path cs="100,100" d="M0.5,0.5 L0.5,244.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#FFFFFF" transform="translate(0,0)" visibility="visible"></path></g><g><g transform="translate(0,0)" visibility="hidden"></g></g><g></g><g><g transform="translate(0,0)"></g></g><g><g></g></g><g></g><g></g><g></g><clipPath id="AmChartsEl-14"><rect x="0" y="0" width="893" height="244" rx="0" ry="0" stroke-width="0"></rect></clipPath></svg></div></div></div><div class="amChartsPanel" style="margin-top: 8px; height: 116px; width: 100%; overflow: hidden; text-align: left;"><div style="position: relative;"><div class="amChartsLegend" style="overflow: hidden; position: relative; text-align: left; width: 894px; height: 26px; cursor: default;"><svg version="1.1" style="position: absolute; width: 894px; height: 116px;"><desc>JavaScript chart by amCharts 3.10.0C</desc><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" font-weight="bold" text-anchor="start" transform="translate(0,11)"><tspan y="7" x="0">Volume</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" font-weight="bold" text-anchor="start" transform="translate(0,11)"><tspan y="7" x="0">Volume</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" font-weight="bold" text-anchor="start" transform="translate(0,11)"><tspan y="7" x="0">Volume</tspan></text><g transform="translate(61,0)"><path cs="100,100" d="M0.5,0.5 L832.5,0.5 L832.5,25.5 L0.5,25.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"></path><g transform="translate(0,4)"><g cursor="pointer" transform="translate(0,0)"><path cs="100,100" d="M-7.5,8.5 L8.5,8.5 L8.5,-7.5 L-7.5,-7.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="1" transform="translate(8,8)"></path><g transform="translate(8,8)" visibility="hidden"><path cs="100,100" d="M-5.5,-5.5 L6.5,6.5" fill="none" stroke="#FFFFFF" stroke-width="3"></path><path cs="100,100" d="M-5.5,6.5 L6.5,-5.5" fill="none" stroke="#FFFFFF" stroke-width="3"></path></g><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(21,7)"><tspan y="7" x="0">first data set</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(116,7)">2,022</text><rect x="16" y="0" width="149.5" height="20" rx="0" ry="0" stroke-width="0" stroke="none" fill="#ffffff" fill-opacity="0.005"></rect></g></g></g></svg></div><div style="overflow: hidden; position: relative; text-align: left; width: 894px; height: 90px; cursor: default;"><svg version="1.1" style="position: absolute; width: 894px; height: 90px;"><desc>JavaScript chart by amCharts 3.10.0C</desc><g><path cs="100,100" d="M0.5,0.5 L893.5,0.5 L893.5,89.5 L0.5,89.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"></path><path cs="100,100" d="M0.5,0.5 L893.5,0.5 L893.5,61.5 L0.5,61.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" transform="translate(0,0)"></path></g><g><g transform="translate(0,0)"><g><path cs="100,100" d="M30.5,61.5 L30.5,61.5 L30.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M119.5,61.5 L119.5,61.5 L119.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M208.5,61.5 L208.5,61.5 L208.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M298.5,61.5 L298.5,61.5 L298.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M387.5,61.5 L387.5,61.5 L387.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M476.5,61.5 L476.5,61.5 L476.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M566.5,61.5 L566.5,61.5 L566.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M655.5,61.5 L655.5,61.5 L655.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M744.5,61.5 L744.5,61.5 L744.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M833.5,61.5 L833.5,61.5 L833.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g></g><g transform="translate(0,0)" visibility="visible"><g><path cs="100,100" d="M0.5,61.5 L0.5,61.5 L893.5,61.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,41.5 L0.5,41.5 L893.5,41.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,20.5 L0.5,20.5 L893.5,20.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,0.5 L0.5,0.5 L893.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g></g></g><g transform="translate(0,0)"><rect x="0.5" y="0.5" width="30" height="61" rx="0" ry="0" stroke-width="0" fill="#FFFFFF" stroke="#FFFFFF" fill-opacity="0.1" stroke-opacity="0.1" visibility="hidden" transform="translate(0,0)"></rect></g><g></g><g></g><g><g transform="translate(0,0)"><g transform="translate(3,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-15.5 L24.5,-15.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(33,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-8.5 L24.5,-8.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(62,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-30.5 L24.5,-30.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(92,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-25.5 L24.5,-25.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(122,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-38.5 L24.5,-38.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(152,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-23.5 L24.5,-23.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(181,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-37.5 L24.5,-37.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(211,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-31.5 L24.5,-31.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(241,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-17.5 L24.5,-17.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(271,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-18.5 L24.5,-18.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(301,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-34.5 L24.5,-34.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(330,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-37.5 L24.5,-37.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(360,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-28.5 L24.5,-28.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(390,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-24.5 L24.5,-24.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(420,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-13.5 L24.5,-13.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(449,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-18.5 L24.5,-18.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(479,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-12.5 L24.5,-12.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(509,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-34.5 L24.5,-34.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(539,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-11.5 L24.5,-11.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(568,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-10.5 L24.5,-10.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(598,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-27.5 L24.5,-27.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(628,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-33.5 L24.5,-33.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(658,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-27.5 L24.5,-27.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(688,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-23.5 L24.5,-23.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(717,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-21.5 L24.5,-21.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(747,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-22.5 L24.5,-22.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(777,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-13.5 L24.5,-13.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(807,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-36.5 L24.5,-36.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(836,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-26.5 L24.5,-26.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g><g transform="translate(866,61)"><path cs="100,100" d="M0.5,0.5 L0.5,-20.5 L24.5,-20.5 L24.5,0.5 L0.5,0.5 Z" fill="#639dbd" stroke="#639dbd" fill-opacity="1" stroke-width="1" stroke-opacity="0.9"></path></g></g></g><g><g transform="translate(0,0)"><g></g></g></g><g clip-path="url(#AmChartsEl-17)"></g><g><g transform="translate(0,0)"><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(33,75)"><tspan y="7" x="0">Jun 07</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(122,75)"><tspan y="7" x="0">Jun 10</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(211,75)"><tspan y="7" x="0">Jun 13</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(301,75)"><tspan y="7" x="0">Jun 16</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(390,75)"><tspan y="7" x="0">Jun 19</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(479,75)"><tspan y="7" x="0">Jun 22</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(569,75)"><tspan y="7" x="0">Jun 25</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(658,75)"><tspan y="7" x="0">Jun 28</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" font-weight="bold" text-anchor="start" transform="translate(747,75)"><tspan y="7" x="0">Jul</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(836,75)"><tspan y="7" x="0">Jul 04</tspan></text></g><g transform="translate(0,0)" visibility="visible"><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(4,52)"><tspan y="7" x="0">1,000</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(4,32)"><tspan y="7" x="0">2,000</tspan></text><text y="7" fill="#e7e7e7" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(4,11)"><tspan y="7" x="0">3,000</tspan></text></g></g><g><path cs="100,100" d="M0.5,0.5 L893.5,0.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#FFFFFF" transform="translate(0,61)"></path><path cs="100,100" d="M0.5,0.5 L0.5,61.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#FFFFFF" transform="translate(0,0)" visibility="visible"></path></g><g><g transform="translate(0,0)" visibility="hidden"></g></g><g></g><g><g transform="translate(0,0)"></g></g><g><g></g></g><g></g><g></g><g></g><clipPath id="AmChartsEl-17"><rect x="0" y="0" width="893" height="61" rx="0" ry="0" stroke-width="0"></rect></clipPath></svg></div></div></div></div><div style="height: 40px; overflow: hidden; text-align: left;"><div style="position: relative;"><div style="overflow: hidden; position: relative; text-align: left; width: 894px; height: 40px; cursor: default;"><svg version="1.1" style="position: absolute; width: 894px; height: 40px;"><desc>JavaScript chart by amCharts 3.10.0C</desc><g><path cs="100,100" d="M0.5,0.5 L893.5,0.5 L893.5,39.5 L0.5,39.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"></path><path cs="100,100" d="M0.5,0.5 L893.5,0.5 L893.5,0.5 L0.5,0.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" transform="translate(0,40)"></path></g><g><g transform="translate(0,0)" visibility="hidden"></g><g transform="translate(0,40)"><g><path cs="100,100" d="M30.5,0.5 L30.5,0.5 L30.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M119.5,0.5 L119.5,0.5 L119.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M208.5,0.5 L208.5,0.5 L208.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M298.5,0.5 L298.5,0.5 L298.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M387.5,0.5 L387.5,0.5 L387.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M476.5,0.5 L476.5,0.5 L476.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M566.5,0.5 L566.5,0.5 L566.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M655.5,0.5 L655.5,0.5 L655.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M744.5,0.5 L744.5,0.5 L744.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M833.5,0.5 L833.5,0.5 L833.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g></g></g><g></g><g></g><g></g><g></g><g></g><g clip-path="url(#AmChartsEl-6)"></g><g><g transform="translate(0,0)" visibility="hidden"></g><g transform="translate(0,40)"></g></g><g><path cs="100,100" d="M0.5,40.5 L894.5,40.5 L894.5,40.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(0,0)"></path><path cs="100,100" d="M0.5,0.5 L894.5,0.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(0,40)"></path><path cs="100,100" d="M0.5,0.5 L0.5,40.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(0,0)" visibility="hidden"></path><path cs="100,100" d="M0.5,0.5 L893.5,0.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#FFFFFF" transform="translate(0,40)"></path></g><g></g><g><g visibility="visible" transform="translate(0,-1)"><rect x="0.5" y="0.5" width="894" height="40" rx="0" ry="0" stroke-width="1" fill="#000000" stroke="#000000" fill-opacity="0.2" stroke-opacity="0.2"></rect><rect x="0.5" y="0.5" width="894" height="40" rx="0" ry="0" stroke-width="0" fill="#FFFFFF" stroke="#FFFFFF" fill-opacity="0.09" stroke-opacity="0.09" clip-path="url(#AmChartsEl-20)"></rect><g><g></g><g></g><g><path cs="100,100" d="M1.5,37.5 L3.5,37.5 L4.5,37.5 L6.5,36.5 L8.5,36.5 L10.5,36.5 L12.5,37.5 L13.5,37.5 L15.5,36.5 L17.5,37.5 L19.5,37.5 L21.5,37.5 L22.5,37.5 L24.5,36.5 L26.5,37.5 L28.5,36.5 L30.5,36.5 L31.5,36.5 L33.5,35.5 L35.5,36.5 L37.5,35.5 L38.5,36.5 L40.5,37.5 L42.5,37.5 L44.5,35.5 L46.5,36.5 L47.5,35.5 L49.5,36.5 L51.5,36.5 L53.5,36.5 L55.5,36.5 L56.5,35.5 L58.5,35.5 L60.5,35.5 L62.5,35.5 L63.5,35.5 L65.5,36.5 L67.5,35.5 L69.5,36.5 L71.5,36.5 L72.5,35.5 L74.5,35.5 L76.5,34.5 L78.5,34.5 L80.5,34.5 L81.5,36.5 L83.5,35.5 L85.5,35.5 L87.5,36.5 L89.5,34.5 L90.5,35.5 L92.5,34.5 L94.5,36.5 L96.5,35.5 L97.5,34.5 L99.5,36.5 L101.5,35.5 L103.5,35.5 L105.5,36.5 L106.5,35.5 L108.5,34.5 L110.5,33.5 L112.5,35.5 L114.5,35.5 L115.5,33.5 L117.5,33.5 L119.5,33.5 L121.5,33.5 L122.5,34.5 L124.5,35.5 L126.5,35.5 L128.5,35.5 L130.5,34.5 L131.5,34.5 L133.5,35.5 L135.5,35.5 L137.5,33.5 L139.5,34.5 L140.5,34.5 L142.5,33.5 L144.5,33.5 L146.5,32.5 L148.5,33.5 L149.5,33.5 L151.5,33.5 L153.5,33.5 L155.5,34.5 L156.5,34.5 L158.5,33.5 L160.5,34.5 L162.5,33.5 L164.5,33.5 L165.5,32.5 L167.5,33.5 L169.5,33.5 L171.5,32.5 L173.5,33.5 L174.5,32.5 L176.5,31.5 L178.5,34.5 L180.5,34.5 L181.5,33.5 L183.5,33.5 L185.5,34.5 L187.5,33.5 L189.5,34.5 L190.5,33.5 L192.5,32.5 L194.5,31.5 L196.5,34.5 L198.5,32.5 L199.5,31.5 L201.5,33.5 L203.5,33.5 L205.5,30.5 L207.5,33.5 L208.5,34.5 L210.5,32.5 L212.5,32.5 L214.5,32.5 L215.5,30.5 L217.5,30.5 L219.5,31.5 L221.5,30.5 L223.5,32.5 L224.5,34.5 L226.5,31.5 L228.5,34.5 L230.5,32.5 L232.5,33.5 L233.5,30.5 L235.5,33.5 L237.5,33.5 L239.5,29.5 L240.5,30.5 L242.5,31.5 L244.5,33.5 L246.5,29.5 L248.5,31.5 L249.5,31.5 L251.5,31.5 L253.5,30.5 L255.5,32.5 L257.5,32.5 L258.5,31.5 L260.5,33.5 L262.5,30.5 L264.5,28.5 L266.5,33.5 L267.5,29.5 L269.5,33.5 L271.5,33.5 L273.5,32.5 L274.5,33.5 L276.5,28.5 L278.5,33.5 L280.5,29.5 L282.5,33.5 L283.5,29.5 L285.5,28.5 L287.5,29.5 L289.5,28.5 L291.5,32.5 L292.5,32.5 L294.5,31.5 L296.5,33.5 L298.5,29.5 L299.5,32.5 L301.5,29.5 L303.5,31.5 L305.5,29.5 L307.5,30.5 L308.5,28.5 L310.5,30.5 L312.5,30.5 L314.5,31.5 L316.5,27.5 L317.5,28.5 L319.5,27.5 L321.5,32.5 L323.5,27.5 L325.5,32.5 L326.5,31.5 L328.5,32.5 L330.5,28.5 L332.5,30.5 L333.5,32.5 L335.5,29.5 L337.5,29.5 L339.5,29.5 L341.5,30.5 L342.5,29.5 L344.5,31.5 L346.5,32.5 L348.5,29.5 L350.5,26.5 L351.5,26.5 L353.5,27.5 L355.5,31.5 L357.5,30.5 L358.5,30.5 L360.5,30.5 L362.5,26.5 L364.5,32.5 L366.5,27.5 L367.5,28.5 L369.5,31.5 L371.5,28.5 L373.5,31.5 L375.5,28.5 L376.5,28.5 L378.5,26.5 L380.5,28.5 L382.5,26.5 L384.5,30.5 L385.5,26.5 L387.5,25.5 L389.5,29.5 L391.5,25.5 L392.5,29.5 L394.5,27.5 L396.5,27.5 L398.5,25.5 L400.5,26.5 L401.5,27.5 L403.5,24.5 L405.5,28.5 L407.5,31.5 L409.5,30.5 L410.5,24.5 L412.5,29.5 L414.5,31.5 L416.5,30.5 L417.5,25.5 L419.5,27.5 L421.5,28.5 L423.5,24.5 L425.5,27.5 L426.5,27.5 L428.5,26.5 L430.5,30.5 L432.5,27.5 L434.5,25.5 L435.5,26.5 L437.5,28.5 L439.5,30.5 L441.5,23.5 L443.5,26.5 L444.5,24.5 L446.5,26.5 L448.5,30.5 L450.5,30.5 L451.5,26.5 L453.5,26.5 L455.5,28.5 L457.5,30.5 L459.5,24.5 L460.5,25.5 L462.5,24.5 L464.5,26.5 L466.5,30.5 L468.5,24.5 L469.5,23.5 L471.5,27.5 L473.5,27.5 L475.5,27.5 L477.5,23.5 L478.5,28.5 L480.5,28.5 L482.5,24.5 L484.5,29.5 L485.5,23.5 L487.5,29.5 L489.5,25.5 L491.5,23.5 L493.5,22.5 L494.5,29.5 L496.5,24.5 L498.5,28.5 L500.5,23.5 L502.5,26.5 L503.5,23.5 L505.5,23.5 L507.5,25.5 L509.5,27.5 L510.5,22.5 L512.5,27.5 L514.5,27.5 L516.5,29.5 L518.5,22.5 L519.5,27.5 L521.5,26.5 L523.5,28.5 L525.5,28.5 L527.5,29.5 L528.5,21.5 L530.5,22.5 L532.5,24.5 L534.5,22.5 L536.5,27.5 L537.5,24.5 L539.5,24.5 L541.5,24.5 L543.5,23.5 L544.5,24.5 L546.5,28.5 L548.5,24.5 L550.5,29.5 L552.5,23.5 L553.5,26.5 L555.5,22.5 L557.5,22.5 L559.5,20.5 L561.5,24.5 L562.5,21.5 L564.5,23.5 L566.5,28.5 L568.5,23.5 L569.5,21.5 L571.5,20.5 L573.5,25.5 L575.5,21.5 L577.5,25.5 L578.5,22.5 L580.5,22.5 L582.5,23.5 L584.5,21.5 L586.5,26.5 L587.5,24.5 L589.5,25.5 L591.5,21.5 L593.5,21.5 L595.5,28.5 L596.5,23.5 L598.5,28.5 L600.5,21.5 L602.5,19.5 L603.5,27.5 L605.5,26.5 L607.5,27.5 L609.5,28.5 L611.5,19.5 L612.5,27.5 L614.5,21.5 L616.5,23.5 L618.5,20.5 L620.5,19.5 L621.5,20.5 L623.5,23.5 L625.5,22.5 L627.5,21.5 L628.5,23.5 L630.5,25.5 L632.5,23.5 L634.5,18.5 L636.5,27.5 L637.5,23.5 L639.5,20.5 L641.5,20.5 L643.5,27.5 L645.5,18.5 L646.5,22.5 L648.5,17.5 L650.5,22.5 L652.5,26.5 L654.5,24.5 L655.5,18.5 L657.5,22.5 L659.5,23.5 L661.5,26.5 L662.5,19.5 L664.5,25.5 L666.5,21.5 L668.5,19.5 L670.5,27.5 L671.5,19.5 L673.5,22.5 L675.5,18.5 L677.5,22.5 L679.5,20.5 L680.5,17.5 L682.5,20.5 L684.5,19.5 L686.5,21.5 L687.5,20.5 L689.5,24.5 L691.5,26.5 L693.5,19.5 L695.5,20.5 L696.5,20.5 L698.5,19.5 L700.5,18.5 L702.5,25.5 L704.5,16.5 L705.5,21.5 L707.5,20.5 L709.5,18.5 L711.5,21.5 L713.5,25.5 L714.5,17.5 L716.5,23.5 L718.5,22.5 L720.5,21.5 L721.5,20.5 L723.5,18.5 L725.5,19.5 L727.5,15.5 L729.5,15.5 L730.5,25.5 L732.5,20.5 L734.5,18.5 L736.5,21.5 L738.5,17.5 L739.5,15.5 L741.5,18.5 L743.5,15.5 L745.5,18.5 L746.5,15.5 L748.5,15.5 L750.5,20.5 L752.5,26.5 L754.5,18.5 L755.5,19.5 L757.5,21.5 L759.5,24.5 L761.5,21.5 L763.5,15.5 L764.5,15.5 L766.5,20.5 L768.5,14.5 L770.5,20.5 L772.5,15.5 L773.5,18.5 L775.5,20.5 L777.5,14.5 L779.5,21.5 L780.5,17.5 L782.5,20.5 L784.5,23.5 L786.5,25.5 L788.5,16.5 L789.5,18.5 L791.5,22.5 L793.5,23.5 L795.5,15.5 L797.5,25.5 L798.5,18.5 L800.5,18.5 L802.5,17.5 L804.5,25.5 L805.5,20.5 L807.5,23.5 L809.5,22.5 L811.5,17.5 L813.5,16.5 L814.5,20.5 L816.5,19.5 L818.5,22.5 L820.5,13.5 L822.5,23.5 L823.5,20.5 L825.5,15.5 L827.5,22.5 L829.5,13.5 L831.5,14.5 L832.5,13.5 L834.5,24.5 L836.5,15.5 L838.5,17.5 L839.5,24.5 L841.5,16.5 L843.5,13.5 L845.5,16.5 L847.5,11.5 L848.5,19.5 L850.5,17.5 L852.5,15.5 L854.5,13.5 L856.5,15.5 L857.5,17.5 L859.5,16.5 L861.5,17.5 L863.5,21.5 L864.5,22.5 L866.5,22.5 L868.5,20.5 L870.5,23.5 L872.5,23.5 L873.5,19.5 L875.5,23.5 L877.5,23.5 L879.5,14.5 L881.5,14.5 L882.5,24.5 L884.5,13.5 L886.5,17.5 L888.5,20.5 L890.5,11.5 L891.5,22.5 L893.5,22.5 M0,0 L0,0" fill="none" stroke-width="1" stroke-opacity="0" stroke="#BBBBBB"></path><path cs="100,100" d="M1.5,37.5 L3.5,37.5 L4.5,37.5 L6.5,36.5 L8.5,36.5 L10.5,36.5 L12.5,37.5 L13.5,37.5 L15.5,36.5 L17.5,37.5 L19.5,37.5 L21.5,37.5 L22.5,37.5 L24.5,36.5 L26.5,37.5 L28.5,36.5 L30.5,36.5 L31.5,36.5 L33.5,35.5 L35.5,36.5 L37.5,35.5 L38.5,36.5 L40.5,37.5 L42.5,37.5 L44.5,35.5 L46.5,36.5 L47.5,35.5 L49.5,36.5 L51.5,36.5 L53.5,36.5 L55.5,36.5 L56.5,35.5 L58.5,35.5 L60.5,35.5 L62.5,35.5 L63.5,35.5 L65.5,36.5 L67.5,35.5 L69.5,36.5 L71.5,36.5 L72.5,35.5 L74.5,35.5 L76.5,34.5 L78.5,34.5 L80.5,34.5 L81.5,36.5 L83.5,35.5 L85.5,35.5 L87.5,36.5 L89.5,34.5 L90.5,35.5 L92.5,34.5 L94.5,36.5 L96.5,35.5 L97.5,34.5 L99.5,36.5 L101.5,35.5 L103.5,35.5 L105.5,36.5 L106.5,35.5 L108.5,34.5 L110.5,33.5 L112.5,35.5 L114.5,35.5 L115.5,33.5 L117.5,33.5 L119.5,33.5 L121.5,33.5 L122.5,34.5 L124.5,35.5 L126.5,35.5 L128.5,35.5 L130.5,34.5 L131.5,34.5 L133.5,35.5 L135.5,35.5 L137.5,33.5 L139.5,34.5 L140.5,34.5 L142.5,33.5 L144.5,33.5 L146.5,32.5 L148.5,33.5 L149.5,33.5 L151.5,33.5 L153.5,33.5 L155.5,34.5 L156.5,34.5 L158.5,33.5 L160.5,34.5 L162.5,33.5 L164.5,33.5 L165.5,32.5 L167.5,33.5 L169.5,33.5 L171.5,32.5 L173.5,33.5 L174.5,32.5 L176.5,31.5 L178.5,34.5 L180.5,34.5 L181.5,33.5 L183.5,33.5 L185.5,34.5 L187.5,33.5 L189.5,34.5 L190.5,33.5 L192.5,32.5 L194.5,31.5 L196.5,34.5 L198.5,32.5 L199.5,31.5 L201.5,33.5 L203.5,33.5 L205.5,30.5 L207.5,33.5 L208.5,34.5 L210.5,32.5 L212.5,32.5 L214.5,32.5 L215.5,30.5 L217.5,30.5 L219.5,31.5 L221.5,30.5 L223.5,32.5 L224.5,34.5 L226.5,31.5 L228.5,34.5 L230.5,32.5 L232.5,33.5 L233.5,30.5 L235.5,33.5 L237.5,33.5 L239.5,29.5 L240.5,30.5 L242.5,31.5 L244.5,33.5 L246.5,29.5 L248.5,31.5 L249.5,31.5 L251.5,31.5 L253.5,30.5 L255.5,32.5 L257.5,32.5 L258.5,31.5 L260.5,33.5 L262.5,30.5 L264.5,28.5 L266.5,33.5 L267.5,29.5 L269.5,33.5 L271.5,33.5 L273.5,32.5 L274.5,33.5 L276.5,28.5 L278.5,33.5 L280.5,29.5 L282.5,33.5 L283.5,29.5 L285.5,28.5 L287.5,29.5 L289.5,28.5 L291.5,32.5 L292.5,32.5 L294.5,31.5 L296.5,33.5 L298.5,29.5 L299.5,32.5 L301.5,29.5 L303.5,31.5 L305.5,29.5 L307.5,30.5 L308.5,28.5 L310.5,30.5 L312.5,30.5 L314.5,31.5 L316.5,27.5 L317.5,28.5 L319.5,27.5 L321.5,32.5 L323.5,27.5 L325.5,32.5 L326.5,31.5 L328.5,32.5 L330.5,28.5 L332.5,30.5 L333.5,32.5 L335.5,29.5 L337.5,29.5 L339.5,29.5 L341.5,30.5 L342.5,29.5 L344.5,31.5 L346.5,32.5 L348.5,29.5 L350.5,26.5 L351.5,26.5 L353.5,27.5 L355.5,31.5 L357.5,30.5 L358.5,30.5 L360.5,30.5 L362.5,26.5 L364.5,32.5 L366.5,27.5 L367.5,28.5 L369.5,31.5 L371.5,28.5 L373.5,31.5 L375.5,28.5 L376.5,28.5 L378.5,26.5 L380.5,28.5 L382.5,26.5 L384.5,30.5 L385.5,26.5 L387.5,25.5 L389.5,29.5 L391.5,25.5 L392.5,29.5 L394.5,27.5 L396.5,27.5 L398.5,25.5 L400.5,26.5 L401.5,27.5 L403.5,24.5 L405.5,28.5 L407.5,31.5 L409.5,30.5 L410.5,24.5 L412.5,29.5 L414.5,31.5 L416.5,30.5 L417.5,25.5 L419.5,27.5 L421.5,28.5 L423.5,24.5 L425.5,27.5 L426.5,27.5 L428.5,26.5 L430.5,30.5 L432.5,27.5 L434.5,25.5 L435.5,26.5 L437.5,28.5 L439.5,30.5 L441.5,23.5 L443.5,26.5 L444.5,24.5 L446.5,26.5 L448.5,30.5 L450.5,30.5 L451.5,26.5 L453.5,26.5 L455.5,28.5 L457.5,30.5 L459.5,24.5 L460.5,25.5 L462.5,24.5 L464.5,26.5 L466.5,30.5 L468.5,24.5 L469.5,23.5 L471.5,27.5 L473.5,27.5 L475.5,27.5 L477.5,23.5 L478.5,28.5 L480.5,28.5 L482.5,24.5 L484.5,29.5 L485.5,23.5 L487.5,29.5 L489.5,25.5 L491.5,23.5 L493.5,22.5 L494.5,29.5 L496.5,24.5 L498.5,28.5 L500.5,23.5 L502.5,26.5 L503.5,23.5 L505.5,23.5 L507.5,25.5 L509.5,27.5 L510.5,22.5 L512.5,27.5 L514.5,27.5 L516.5,29.5 L518.5,22.5 L519.5,27.5 L521.5,26.5 L523.5,28.5 L525.5,28.5 L527.5,29.5 L528.5,21.5 L530.5,22.5 L532.5,24.5 L534.5,22.5 L536.5,27.5 L537.5,24.5 L539.5,24.5 L541.5,24.5 L543.5,23.5 L544.5,24.5 L546.5,28.5 L548.5,24.5 L550.5,29.5 L552.5,23.5 L553.5,26.5 L555.5,22.5 L557.5,22.5 L559.5,20.5 L561.5,24.5 L562.5,21.5 L564.5,23.5 L566.5,28.5 L568.5,23.5 L569.5,21.5 L571.5,20.5 L573.5,25.5 L575.5,21.5 L577.5,25.5 L578.5,22.5 L580.5,22.5 L582.5,23.5 L584.5,21.5 L586.5,26.5 L587.5,24.5 L589.5,25.5 L591.5,21.5 L593.5,21.5 L595.5,28.5 L596.5,23.5 L598.5,28.5 L600.5,21.5 L602.5,19.5 L603.5,27.5 L605.5,26.5 L607.5,27.5 L609.5,28.5 L611.5,19.5 L612.5,27.5 L614.5,21.5 L616.5,23.5 L618.5,20.5 L620.5,19.5 L621.5,20.5 L623.5,23.5 L625.5,22.5 L627.5,21.5 L628.5,23.5 L630.5,25.5 L632.5,23.5 L634.5,18.5 L636.5,27.5 L637.5,23.5 L639.5,20.5 L641.5,20.5 L643.5,27.5 L645.5,18.5 L646.5,22.5 L648.5,17.5 L650.5,22.5 L652.5,26.5 L654.5,24.5 L655.5,18.5 L657.5,22.5 L659.5,23.5 L661.5,26.5 L662.5,19.5 L664.5,25.5 L666.5,21.5 L668.5,19.5 L670.5,27.5 L671.5,19.5 L673.5,22.5 L675.5,18.5 L677.5,22.5 L679.5,20.5 L680.5,17.5 L682.5,20.5 L684.5,19.5 L686.5,21.5 L687.5,20.5 L689.5,24.5 L691.5,26.5 L693.5,19.5 L695.5,20.5 L696.5,20.5 L698.5,19.5 L700.5,18.5 L702.5,25.5 L704.5,16.5 L705.5,21.5 L707.5,20.5 L709.5,18.5 L711.5,21.5 L713.5,25.5 L714.5,17.5 L716.5,23.5 L718.5,22.5 L720.5,21.5 L721.5,20.5 L723.5,18.5 L725.5,19.5 L727.5,15.5 L729.5,15.5 L730.5,25.5 L732.5,20.5 L734.5,18.5 L736.5,21.5 L738.5,17.5 L739.5,15.5 L741.5,18.5 L743.5,15.5 L745.5,18.5 L746.5,15.5 L748.5,15.5 L750.5,20.5 L752.5,26.5 L754.5,18.5 L755.5,19.5 L757.5,21.5 L759.5,24.5 L761.5,21.5 L763.5,15.5 L764.5,15.5 L766.5,20.5 L768.5,14.5 L770.5,20.5 L772.5,15.5 L773.5,18.5 L775.5,20.5 L777.5,14.5 L779.5,21.5 L780.5,17.5 L782.5,20.5 L784.5,23.5 L786.5,25.5 L788.5,16.5 L789.5,18.5 L791.5,22.5 L793.5,23.5 L795.5,15.5 L797.5,25.5 L798.5,18.5 L800.5,18.5 L802.5,17.5 L804.5,25.5 L805.5,20.5 L807.5,23.5 L809.5,22.5 L811.5,17.5 L813.5,16.5 L814.5,20.5 L816.5,19.5 L818.5,22.5 L820.5,13.5 L822.5,23.5 L823.5,20.5 L825.5,15.5 L827.5,22.5 L829.5,13.5 L831.5,14.5 L832.5,13.5 L834.5,24.5 L836.5,15.5 L838.5,17.5 L839.5,24.5 L841.5,16.5 L843.5,13.5 L845.5,16.5 L847.5,11.5 L848.5,19.5 L850.5,17.5 L852.5,15.5 L854.5,13.5 L856.5,15.5 L857.5,17.5 L859.5,16.5 L861.5,17.5 L863.5,21.5 L864.5,22.5 L866.5,22.5 L868.5,20.5 L870.5,23.5 L872.5,23.5 L873.5,19.5 L875.5,23.5 L877.5,23.5 L879.5,14.5 L881.5,14.5 L882.5,24.5 L884.5,13.5 L886.5,17.5 L888.5,20.5 L890.5,11.5 L891.5,22.5 L893.5,22.5 L893.5,40.5 L1.5,40.5 L1.5,37.5 Z" fill="#FFFFFF" stroke="#000" fill-opacity="0.2" stroke-width="1" stroke-opacity="0"></path></g></g><g clip-path="url(#AmChartsEl-21)"><g></g><g></g><g><path cs="100,100" d="M1.5,37.5 L3.5,37.5 L4.5,37.5 L6.5,36.5 L8.5,36.5 L10.5,36.5 L12.5,37.5 L13.5,37.5 L15.5,36.5 L17.5,37.5 L19.5,37.5 L21.5,37.5 L22.5,37.5 L24.5,36.5 L26.5,37.5 L28.5,36.5 L30.5,36.5 L31.5,36.5 L33.5,35.5 L35.5,36.5 L37.5,35.5 L38.5,36.5 L40.5,37.5 L42.5,37.5 L44.5,35.5 L46.5,36.5 L47.5,35.5 L49.5,36.5 L51.5,36.5 L53.5,36.5 L55.5,36.5 L56.5,35.5 L58.5,35.5 L60.5,35.5 L62.5,35.5 L63.5,35.5 L65.5,36.5 L67.5,35.5 L69.5,36.5 L71.5,36.5 L72.5,35.5 L74.5,35.5 L76.5,34.5 L78.5,34.5 L80.5,34.5 L81.5,36.5 L83.5,35.5 L85.5,35.5 L87.5,36.5 L89.5,34.5 L90.5,35.5 L92.5,34.5 L94.5,36.5 L96.5,35.5 L97.5,34.5 L99.5,36.5 L101.5,35.5 L103.5,35.5 L105.5,36.5 L106.5,35.5 L108.5,34.5 L110.5,33.5 L112.5,35.5 L114.5,35.5 L115.5,33.5 L117.5,33.5 L119.5,33.5 L121.5,33.5 L122.5,34.5 L124.5,35.5 L126.5,35.5 L128.5,35.5 L130.5,34.5 L131.5,34.5 L133.5,35.5 L135.5,35.5 L137.5,33.5 L139.5,34.5 L140.5,34.5 L142.5,33.5 L144.5,33.5 L146.5,32.5 L148.5,33.5 L149.5,33.5 L151.5,33.5 L153.5,33.5 L155.5,34.5 L156.5,34.5 L158.5,33.5 L160.5,34.5 L162.5,33.5 L164.5,33.5 L165.5,32.5 L167.5,33.5 L169.5,33.5 L171.5,32.5 L173.5,33.5 L174.5,32.5 L176.5,31.5 L178.5,34.5 L180.5,34.5 L181.5,33.5 L183.5,33.5 L185.5,34.5 L187.5,33.5 L189.5,34.5 L190.5,33.5 L192.5,32.5 L194.5,31.5 L196.5,34.5 L198.5,32.5 L199.5,31.5 L201.5,33.5 L203.5,33.5 L205.5,30.5 L207.5,33.5 L208.5,34.5 L210.5,32.5 L212.5,32.5 L214.5,32.5 L215.5,30.5 L217.5,30.5 L219.5,31.5 L221.5,30.5 L223.5,32.5 L224.5,34.5 L226.5,31.5 L228.5,34.5 L230.5,32.5 L232.5,33.5 L233.5,30.5 L235.5,33.5 L237.5,33.5 L239.5,29.5 L240.5,30.5 L242.5,31.5 L244.5,33.5 L246.5,29.5 L248.5,31.5 L249.5,31.5 L251.5,31.5 L253.5,30.5 L255.5,32.5 L257.5,32.5 L258.5,31.5 L260.5,33.5 L262.5,30.5 L264.5,28.5 L266.5,33.5 L267.5,29.5 L269.5,33.5 L271.5,33.5 L273.5,32.5 L274.5,33.5 L276.5,28.5 L278.5,33.5 L280.5,29.5 L282.5,33.5 L283.5,29.5 L285.5,28.5 L287.5,29.5 L289.5,28.5 L291.5,32.5 L292.5,32.5 L294.5,31.5 L296.5,33.5 L298.5,29.5 L299.5,32.5 L301.5,29.5 L303.5,31.5 L305.5,29.5 L307.5,30.5 L308.5,28.5 L310.5,30.5 L312.5,30.5 L314.5,31.5 L316.5,27.5 L317.5,28.5 L319.5,27.5 L321.5,32.5 L323.5,27.5 L325.5,32.5 L326.5,31.5 L328.5,32.5 L330.5,28.5 L332.5,30.5 L333.5,32.5 L335.5,29.5 L337.5,29.5 L339.5,29.5 L341.5,30.5 L342.5,29.5 L344.5,31.5 L346.5,32.5 L348.5,29.5 L350.5,26.5 L351.5,26.5 L353.5,27.5 L355.5,31.5 L357.5,30.5 L358.5,30.5 L360.5,30.5 L362.5,26.5 L364.5,32.5 L366.5,27.5 L367.5,28.5 L369.5,31.5 L371.5,28.5 L373.5,31.5 L375.5,28.5 L376.5,28.5 L378.5,26.5 L380.5,28.5 L382.5,26.5 L384.5,30.5 L385.5,26.5 L387.5,25.5 L389.5,29.5 L391.5,25.5 L392.5,29.5 L394.5,27.5 L396.5,27.5 L398.5,25.5 L400.5,26.5 L401.5,27.5 L403.5,24.5 L405.5,28.5 L407.5,31.5 L409.5,30.5 L410.5,24.5 L412.5,29.5 L414.5,31.5 L416.5,30.5 L417.5,25.5 L419.5,27.5 L421.5,28.5 L423.5,24.5 L425.5,27.5 L426.5,27.5 L428.5,26.5 L430.5,30.5 L432.5,27.5 L434.5,25.5 L435.5,26.5 L437.5,28.5 L439.5,30.5 L441.5,23.5 L443.5,26.5 L444.5,24.5 L446.5,26.5 L448.5,30.5 L450.5,30.5 L451.5,26.5 L453.5,26.5 L455.5,28.5 L457.5,30.5 L459.5,24.5 L460.5,25.5 L462.5,24.5 L464.5,26.5 L466.5,30.5 L468.5,24.5 L469.5,23.5 L471.5,27.5 L473.5,27.5 L475.5,27.5 L477.5,23.5 L478.5,28.5 L480.5,28.5 L482.5,24.5 L484.5,29.5 L485.5,23.5 L487.5,29.5 L489.5,25.5 L491.5,23.5 L493.5,22.5 L494.5,29.5 L496.5,24.5 L498.5,28.5 L500.5,23.5 L502.5,26.5 L503.5,23.5 L505.5,23.5 L507.5,25.5 L509.5,27.5 L510.5,22.5 L512.5,27.5 L514.5,27.5 L516.5,29.5 L518.5,22.5 L519.5,27.5 L521.5,26.5 L523.5,28.5 L525.5,28.5 L527.5,29.5 L528.5,21.5 L530.5,22.5 L532.5,24.5 L534.5,22.5 L536.5,27.5 L537.5,24.5 L539.5,24.5 L541.5,24.5 L543.5,23.5 L544.5,24.5 L546.5,28.5 L548.5,24.5 L550.5,29.5 L552.5,23.5 L553.5,26.5 L555.5,22.5 L557.5,22.5 L559.5,20.5 L561.5,24.5 L562.5,21.5 L564.5,23.5 L566.5,28.5 L568.5,23.5 L569.5,21.5 L571.5,20.5 L573.5,25.5 L575.5,21.5 L577.5,25.5 L578.5,22.5 L580.5,22.5 L582.5,23.5 L584.5,21.5 L586.5,26.5 L587.5,24.5 L589.5,25.5 L591.5,21.5 L593.5,21.5 L595.5,28.5 L596.5,23.5 L598.5,28.5 L600.5,21.5 L602.5,19.5 L603.5,27.5 L605.5,26.5 L607.5,27.5 L609.5,28.5 L611.5,19.5 L612.5,27.5 L614.5,21.5 L616.5,23.5 L618.5,20.5 L620.5,19.5 L621.5,20.5 L623.5,23.5 L625.5,22.5 L627.5,21.5 L628.5,23.5 L630.5,25.5 L632.5,23.5 L634.5,18.5 L636.5,27.5 L637.5,23.5 L639.5,20.5 L641.5,20.5 L643.5,27.5 L645.5,18.5 L646.5,22.5 L648.5,17.5 L650.5,22.5 L652.5,26.5 L654.5,24.5 L655.5,18.5 L657.5,22.5 L659.5,23.5 L661.5,26.5 L662.5,19.5 L664.5,25.5 L666.5,21.5 L668.5,19.5 L670.5,27.5 L671.5,19.5 L673.5,22.5 L675.5,18.5 L677.5,22.5 L679.5,20.5 L680.5,17.5 L682.5,20.5 L684.5,19.5 L686.5,21.5 L687.5,20.5 L689.5,24.5 L691.5,26.5 L693.5,19.5 L695.5,20.5 L696.5,20.5 L698.5,19.5 L700.5,18.5 L702.5,25.5 L704.5,16.5 L705.5,21.5 L707.5,20.5 L709.5,18.5 L711.5,21.5 L713.5,25.5 L714.5,17.5 L716.5,23.5 L718.5,22.5 L720.5,21.5 L721.5,20.5 L723.5,18.5 L725.5,19.5 L727.5,15.5 L729.5,15.5 L730.5,25.5 L732.5,20.5 L734.5,18.5 L736.5,21.5 L738.5,17.5 L739.5,15.5 L741.5,18.5 L743.5,15.5 L745.5,18.5 L746.5,15.5 L748.5,15.5 L750.5,20.5 L752.5,26.5 L754.5,18.5 L755.5,19.5 L757.5,21.5 L759.5,24.5 L761.5,21.5 L763.5,15.5 L764.5,15.5 L766.5,20.5 L768.5,14.5 L770.5,20.5 L772.5,15.5 L773.5,18.5 L775.5,20.5 L777.5,14.5 L779.5,21.5 L780.5,17.5 L782.5,20.5 L784.5,23.5 L786.5,25.5 L788.5,16.5 L789.5,18.5 L791.5,22.5 L793.5,23.5 L795.5,15.5 L797.5,25.5 L798.5,18.5 L800.5,18.5 L802.5,17.5 L804.5,25.5 L805.5,20.5 L807.5,23.5 L809.5,22.5 L811.5,17.5 L813.5,16.5 L814.5,20.5 L816.5,19.5 L818.5,22.5 L820.5,13.5 L822.5,23.5 L823.5,20.5 L825.5,15.5 L827.5,22.5 L829.5,13.5 L831.5,14.5 L832.5,13.5 L834.5,24.5 L836.5,15.5 L838.5,17.5 L839.5,24.5 L841.5,16.5 L843.5,13.5 L845.5,16.5 L847.5,11.5 L848.5,19.5 L850.5,17.5 L852.5,15.5 L854.5,13.5 L856.5,15.5 L857.5,17.5 L859.5,16.5 L861.5,17.5 L863.5,21.5 L864.5,22.5 L866.5,22.5 L868.5,20.5 L870.5,23.5 L872.5,23.5 L873.5,19.5 L875.5,23.5 L877.5,23.5 L879.5,14.5 L881.5,14.5 L882.5,24.5 L884.5,13.5 L886.5,17.5 L888.5,20.5 L890.5,11.5 L891.5,22.5 L893.5,22.5 M0,0 L0,0" fill="none" stroke-width="1" stroke-opacity="0" stroke="#FFFFFF"></path><path cs="100,100" d="M1.5,37.5 L3.5,37.5 L4.5,37.5 L6.5,36.5 L8.5,36.5 L10.5,36.5 L12.5,37.5 L13.5,37.5 L15.5,36.5 L17.5,37.5 L19.5,37.5 L21.5,37.5 L22.5,37.5 L24.5,36.5 L26.5,37.5 L28.5,36.5 L30.5,36.5 L31.5,36.5 L33.5,35.5 L35.5,36.5 L37.5,35.5 L38.5,36.5 L40.5,37.5 L42.5,37.5 L44.5,35.5 L46.5,36.5 L47.5,35.5 L49.5,36.5 L51.5,36.5 L53.5,36.5 L55.5,36.5 L56.5,35.5 L58.5,35.5 L60.5,35.5 L62.5,35.5 L63.5,35.5 L65.5,36.5 L67.5,35.5 L69.5,36.5 L71.5,36.5 L72.5,35.5 L74.5,35.5 L76.5,34.5 L78.5,34.5 L80.5,34.5 L81.5,36.5 L83.5,35.5 L85.5,35.5 L87.5,36.5 L89.5,34.5 L90.5,35.5 L92.5,34.5 L94.5,36.5 L96.5,35.5 L97.5,34.5 L99.5,36.5 L101.5,35.5 L103.5,35.5 L105.5,36.5 L106.5,35.5 L108.5,34.5 L110.5,33.5 L112.5,35.5 L114.5,35.5 L115.5,33.5 L117.5,33.5 L119.5,33.5 L121.5,33.5 L122.5,34.5 L124.5,35.5 L126.5,35.5 L128.5,35.5 L130.5,34.5 L131.5,34.5 L133.5,35.5 L135.5,35.5 L137.5,33.5 L139.5,34.5 L140.5,34.5 L142.5,33.5 L144.5,33.5 L146.5,32.5 L148.5,33.5 L149.5,33.5 L151.5,33.5 L153.5,33.5 L155.5,34.5 L156.5,34.5 L158.5,33.5 L160.5,34.5 L162.5,33.5 L164.5,33.5 L165.5,32.5 L167.5,33.5 L169.5,33.5 L171.5,32.5 L173.5,33.5 L174.5,32.5 L176.5,31.5 L178.5,34.5 L180.5,34.5 L181.5,33.5 L183.5,33.5 L185.5,34.5 L187.5,33.5 L189.5,34.5 L190.5,33.5 L192.5,32.5 L194.5,31.5 L196.5,34.5 L198.5,32.5 L199.5,31.5 L201.5,33.5 L203.5,33.5 L205.5,30.5 L207.5,33.5 L208.5,34.5 L210.5,32.5 L212.5,32.5 L214.5,32.5 L215.5,30.5 L217.5,30.5 L219.5,31.5 L221.5,30.5 L223.5,32.5 L224.5,34.5 L226.5,31.5 L228.5,34.5 L230.5,32.5 L232.5,33.5 L233.5,30.5 L235.5,33.5 L237.5,33.5 L239.5,29.5 L240.5,30.5 L242.5,31.5 L244.5,33.5 L246.5,29.5 L248.5,31.5 L249.5,31.5 L251.5,31.5 L253.5,30.5 L255.5,32.5 L257.5,32.5 L258.5,31.5 L260.5,33.5 L262.5,30.5 L264.5,28.5 L266.5,33.5 L267.5,29.5 L269.5,33.5 L271.5,33.5 L273.5,32.5 L274.5,33.5 L276.5,28.5 L278.5,33.5 L280.5,29.5 L282.5,33.5 L283.5,29.5 L285.5,28.5 L287.5,29.5 L289.5,28.5 L291.5,32.5 L292.5,32.5 L294.5,31.5 L296.5,33.5 L298.5,29.5 L299.5,32.5 L301.5,29.5 L303.5,31.5 L305.5,29.5 L307.5,30.5 L308.5,28.5 L310.5,30.5 L312.5,30.5 L314.5,31.5 L316.5,27.5 L317.5,28.5 L319.5,27.5 L321.5,32.5 L323.5,27.5 L325.5,32.5 L326.5,31.5 L328.5,32.5 L330.5,28.5 L332.5,30.5 L333.5,32.5 L335.5,29.5 L337.5,29.5 L339.5,29.5 L341.5,30.5 L342.5,29.5 L344.5,31.5 L346.5,32.5 L348.5,29.5 L350.5,26.5 L351.5,26.5 L353.5,27.5 L355.5,31.5 L357.5,30.5 L358.5,30.5 L360.5,30.5 L362.5,26.5 L364.5,32.5 L366.5,27.5 L367.5,28.5 L369.5,31.5 L371.5,28.5 L373.5,31.5 L375.5,28.5 L376.5,28.5 L378.5,26.5 L380.5,28.5 L382.5,26.5 L384.5,30.5 L385.5,26.5 L387.5,25.5 L389.5,29.5 L391.5,25.5 L392.5,29.5 L394.5,27.5 L396.5,27.5 L398.5,25.5 L400.5,26.5 L401.5,27.5 L403.5,24.5 L405.5,28.5 L407.5,31.5 L409.5,30.5 L410.5,24.5 L412.5,29.5 L414.5,31.5 L416.5,30.5 L417.5,25.5 L419.5,27.5 L421.5,28.5 L423.5,24.5 L425.5,27.5 L426.5,27.5 L428.5,26.5 L430.5,30.5 L432.5,27.5 L434.5,25.5 L435.5,26.5 L437.5,28.5 L439.5,30.5 L441.5,23.5 L443.5,26.5 L444.5,24.5 L446.5,26.5 L448.5,30.5 L450.5,30.5 L451.5,26.5 L453.5,26.5 L455.5,28.5 L457.5,30.5 L459.5,24.5 L460.5,25.5 L462.5,24.5 L464.5,26.5 L466.5,30.5 L468.5,24.5 L469.5,23.5 L471.5,27.5 L473.5,27.5 L475.5,27.5 L477.5,23.5 L478.5,28.5 L480.5,28.5 L482.5,24.5 L484.5,29.5 L485.5,23.5 L487.5,29.5 L489.5,25.5 L491.5,23.5 L493.5,22.5 L494.5,29.5 L496.5,24.5 L498.5,28.5 L500.5,23.5 L502.5,26.5 L503.5,23.5 L505.5,23.5 L507.5,25.5 L509.5,27.5 L510.5,22.5 L512.5,27.5 L514.5,27.5 L516.5,29.5 L518.5,22.5 L519.5,27.5 L521.5,26.5 L523.5,28.5 L525.5,28.5 L527.5,29.5 L528.5,21.5 L530.5,22.5 L532.5,24.5 L534.5,22.5 L536.5,27.5 L537.5,24.5 L539.5,24.5 L541.5,24.5 L543.5,23.5 L544.5,24.5 L546.5,28.5 L548.5,24.5 L550.5,29.5 L552.5,23.5 L553.5,26.5 L555.5,22.5 L557.5,22.5 L559.5,20.5 L561.5,24.5 L562.5,21.5 L564.5,23.5 L566.5,28.5 L568.5,23.5 L569.5,21.5 L571.5,20.5 L573.5,25.5 L575.5,21.5 L577.5,25.5 L578.5,22.5 L580.5,22.5 L582.5,23.5 L584.5,21.5 L586.5,26.5 L587.5,24.5 L589.5,25.5 L591.5,21.5 L593.5,21.5 L595.5,28.5 L596.5,23.5 L598.5,28.5 L600.5,21.5 L602.5,19.5 L603.5,27.5 L605.5,26.5 L607.5,27.5 L609.5,28.5 L611.5,19.5 L612.5,27.5 L614.5,21.5 L616.5,23.5 L618.5,20.5 L620.5,19.5 L621.5,20.5 L623.5,23.5 L625.5,22.5 L627.5,21.5 L628.5,23.5 L630.5,25.5 L632.5,23.5 L634.5,18.5 L636.5,27.5 L637.5,23.5 L639.5,20.5 L641.5,20.5 L643.5,27.5 L645.5,18.5 L646.5,22.5 L648.5,17.5 L650.5,22.5 L652.5,26.5 L654.5,24.5 L655.5,18.5 L657.5,22.5 L659.5,23.5 L661.5,26.5 L662.5,19.5 L664.5,25.5 L666.5,21.5 L668.5,19.5 L670.5,27.5 L671.5,19.5 L673.5,22.5 L675.5,18.5 L677.5,22.5 L679.5,20.5 L680.5,17.5 L682.5,20.5 L684.5,19.5 L686.5,21.5 L687.5,20.5 L689.5,24.5 L691.5,26.5 L693.5,19.5 L695.5,20.5 L696.5,20.5 L698.5,19.5 L700.5,18.5 L702.5,25.5 L704.5,16.5 L705.5,21.5 L707.5,20.5 L709.5,18.5 L711.5,21.5 L713.5,25.5 L714.5,17.5 L716.5,23.5 L718.5,22.5 L720.5,21.5 L721.5,20.5 L723.5,18.5 L725.5,19.5 L727.5,15.5 L729.5,15.5 L730.5,25.5 L732.5,20.5 L734.5,18.5 L736.5,21.5 L738.5,17.5 L739.5,15.5 L741.5,18.5 L743.5,15.5 L745.5,18.5 L746.5,15.5 L748.5,15.5 L750.5,20.5 L752.5,26.5 L754.5,18.5 L755.5,19.5 L757.5,21.5 L759.5,24.5 L761.5,21.5 L763.5,15.5 L764.5,15.5 L766.5,20.5 L768.5,14.5 L770.5,20.5 L772.5,15.5 L773.5,18.5 L775.5,20.5 L777.5,14.5 L779.5,21.5 L780.5,17.5 L782.5,20.5 L784.5,23.5 L786.5,25.5 L788.5,16.5 L789.5,18.5 L791.5,22.5 L793.5,23.5 L795.5,15.5 L797.5,25.5 L798.5,18.5 L800.5,18.5 L802.5,17.5 L804.5,25.5 L805.5,20.5 L807.5,23.5 L809.5,22.5 L811.5,17.5 L813.5,16.5 L814.5,20.5 L816.5,19.5 L818.5,22.5 L820.5,13.5 L822.5,23.5 L823.5,20.5 L825.5,15.5 L827.5,22.5 L829.5,13.5 L831.5,14.5 L832.5,13.5 L834.5,24.5 L836.5,15.5 L838.5,17.5 L839.5,24.5 L841.5,16.5 L843.5,13.5 L845.5,16.5 L847.5,11.5 L848.5,19.5 L850.5,17.5 L852.5,15.5 L854.5,13.5 L856.5,15.5 L857.5,17.5 L859.5,16.5 L861.5,17.5 L863.5,21.5 L864.5,22.5 L866.5,22.5 L868.5,20.5 L870.5,23.5 L872.5,23.5 L873.5,19.5 L875.5,23.5 L877.5,23.5 L879.5,14.5 L881.5,14.5 L882.5,24.5 L884.5,13.5 L886.5,17.5 L888.5,20.5 L890.5,11.5 L891.5,22.5 L893.5,22.5 L893.5,40.5 L1.5,40.5 L1.5,37.5 Z" fill="#FFFFFF" stroke="#000" fill-opacity="0.4" stroke-width="1" stroke-opacity="0"></path></g></g><g transform="translate(0,0)"><g><path cs="100,100" d="M14.5,40.5 L14.5,40.5 L14.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M123.5,40.5 L123.5,40.5 L123.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M232.5,40.5 L232.5,40.5 L232.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M343.5,40.5 L343.5,40.5 L343.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M452.5,40.5 L452.5,40.5 L452.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M561.5,40.5 L561.5,40.5 L561.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M667.5,40.5 L667.5,40.5 L667.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M776.5,40.5 L776.5,40.5 L776.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M885.5,40.5 L885.5,40.5 L885.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF"></path></g></g><g transform="translate(0,0)"><text y="7" fill="#FFFFFF" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(17,28)"><tspan y="7" x="0">Mar</tspan></text><text y="7" fill="#FFFFFF" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(126,28)"><tspan y="7" x="0">May</tspan></text><text y="7" fill="#FFFFFF" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(235,28)"><tspan y="7" x="0">Jul</tspan></text><text y="7" fill="#FFFFFF" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(346,28)"><tspan y="7" x="0">Sep</tspan></text><text y="7" fill="#FFFFFF" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(455,28)"><tspan y="7" x="0">Nov</tspan></text><text y="7" fill="#FFFFFF" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(564,28)"><tspan y="7" x="0">2014</tspan></text><text y="7" fill="#FFFFFF" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(670,28)"><tspan y="7" x="0">Mar</tspan></text><text y="7" fill="#FFFFFF" font-family="Lato" font-size="13" opacity="1" text-anchor="start" transform="translate(779,28)"><tspan y="7" x="0">May</tspan></text></g><rect x="0.5" y="0.5" width="894" height="40" rx="0" ry="0" stroke-width="0" fill="#000" stroke="#000" fill-opacity="0.005" stroke-opacity="0.005"></rect><rect x="840.3599999987583" y="0.5" width="53.640000001241674" height="40" rx="0" ry="0" stroke-width="0" fill="#000" stroke="#000" fill-opacity="0.005" stroke-opacity="0.005"></rect><clipPath id="AmChartsEl-20"><rect x="840.3599853515625" y="0" width="53.6400146484375" height="41" rx="0" ry="0" stroke-width="0"></rect></clipPath><clipPath id="AmChartsEl-21"><rect x="840.3599853515625" y="0" width="53.6400146484375" height="41" rx="0" ry="0" stroke-width="0"></rect></clipPath></g></g><g><g></g><g></g></g><g><g></g></g><g></g><g></g><g></g><clipPath id="AmChartsEl-6"><rect x="0" y="40" width="893" height="1" rx="0" ry="0" stroke-width="0"></rect></clipPath><g transform="translate(831,7)" visibility="visible"><image x="0" y="0" width="18" height="25" xlink:href="http://www.amcharts.com/lib/3/images/dragIcon.gif"></image><rect x="0.5" y="0.5" width="25" height="40" rx="0" ry="0" stroke-width="0" fill="#000" stroke="#000" fill-opacity="0.005" stroke-opacity="0.005" transform="translate(-3,-7)"></rect></g><g transform="translate(885,7)" visibility="visible"><image x="0" y="0" width="18" height="25" xlink:href="http://www.amcharts.com/lib/3/images/dragIcon.gif"></image><rect x="0.5" y="0.5" width="25" height="40" rx="0" ry="0" stroke-width="0" fill="#000" stroke="#000" fill-opacity="0.005" stroke-opacity="0.005" transform="translate(-3,-7)"></rect></g></svg></div></div></div></div></div></div>
</div>
</div>
			</div>
			<br>
			<br>
			<br>	
		</div><!-- /container -->
	</div>	


	<section id="contact" name="contact"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-5">
				<h3>QuantFoces Team</h3>
				<p>
				Dmitry Ivanovsky<br>
				Kamil Talipov
				</p>
			</div>
			
			<div class="col-lg-7">
				<h3>Drop Us A Line</h3>
				<br>
				<form role="form" action="/mainpage/message" method="post" enctype="plain"> 
				  {% csrf_token %}
				  <div class="form-group">
				    <label for="name1">Your Name</label>
				    <input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name">
				  </div>
				  <div class="form-group">
				    <label for="email1">Email address</label>
				    <input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				  	<label>Your Text</label>
				  	<textarea class="form-control" name="Message" rows="3"></textarea>
				  </div>
				  <br>
				  <button type="submit" class="btn btn-large btn-success">SUBMIT</button>
				</form>
			</div>
		</div>
	</div>
	<div id="c">
		<div class="container">
			<p>Created by <a href="http://www.quantforces.com">QuantForces Team</a></p>
		
		</div>
	</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'mainpage/js/bootstrap.min.js' %}"></script>
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script>
  

</body></html>