{% extends "base.html" %}

{% block title %}
	Главная
{% endblock %}

{% block content %}
	Контент </br>
	{% if user.is_authenticated %}
		Привет, {{ user.username }} 
		<a href="/accounts">Мой профиль</a>		
	{% endif %}	
	</br>
{% endblock %}

{% block footer %}
	Подвал
{% endblock %}

